:root {
  --font-white: #FFF;
  --font-blue:  #337FF1;
  --font-secundary: '#0C1F2B';
  --font-gray: #7D7D7D;
  --font-red: #e64949;
  --font-green: #69f575;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  all: unset
}

a, button {
  cursor: pointer;
}

main, section, div, article, aside, button {
  display: flex;
  flex-direction: column;
}

button {
  transition: .4s;
}

button:hover {
  filter: brightness(1.2)
}

.photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.backgroundRound {
  width: 100vw !important;
  height: 100px !important;
  margin-left: -7% !important;
}